.left-column {
  padding: var(--space-16);
}

.right-column {
  display: none;
}

.welcoming-title {
  font-weight: 600;
  font-size: var(--font-size-24);
}

.form {
  margin-top: var(--space-32);
  max-width: 338px;
}

.label {
  font-weight: 600;
  font-size: var(--font-size-16);
  /* to apply margins */
  display: inline-block;
  margin-top: var(--space-16);
}

.label:first-child {
  margin-top: 0;
}

.input {
  border: 2px solid var(--black);
  border-radius: var(--radius-8);
  width: 100%;
  padding: var(--space-16);
  height: var(--input-height);
  margin-top: var(--space-16);
}

.cta-btn {
  background-color: var(--pink);
  border: 2px solid var(--black);
  box-shadow: var(--black-shadow);
  border-radius: var(--radius-8);
  width: 100%;
  margin-top: var(--space-32);
  height: var(--input-height);
  font-weight: 600;
}

.sign-up-prompt {
  font-weight: 500;
  font-size: var(--font-size-14);
  margin-top: var(--space-32);
  text-align: center;
}

.sign-up-link {
  font-weight: 600;
  text-decoration: underline;
}

/* media queries */
@media (min-width: 768px) {
  .right-column {
    display: block;
    border-left: 2px solid var(--black);
    background-image: url("../img/gears.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .row {
    /* bring columns beside each other */
    display: flex;
  }

  .left-column,
  .right-column {
    /* equal-width columns */
    width: 50%;
  }

  .gears-img {
    height: 100%;
    object-fit: cover;
  }
}
